---
layout: default
title: Home
---

{% if site.show_excerpts %}
  {% for post in site.posts %}
    <article>
      <header>
        <h1><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h1>
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: site.date_format }}</time>
      </header>
      {{ post.excerpt }}
      <p><a href="{{ post.url | relative_url }}">Continue reading</a></p>
    </article>
  {% endfor %}
{% else %}
  <ul>
    {% for post in site.posts %}
      <li>
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: site.date_format }}</time>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
